# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/*
!/media/.gitkeep
*.log

# Окружение
.env

# Редакторы и ОС
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.sw?
